node_modules/
www/
android/app/build/
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/assets/public/
.gradle/
cap-sync-android.log
*.log
.DS_Store
.env
.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
